body {
  background-color: #e0d382;
  margin-bottom: 0px;
}
nav {
  background-color: #cfc271;
}
#right-content-list .list-group {
  margin-bottom: 20px;
}
#right-content-list .list-group .list-group-item {
  background-color: #e0d382;
}
.jumbotron {
  background-image: url("images/bg.jpg");
  margin-bottom: 0;
}
.tz-gallery {
  padding: 20px;
}
.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.tz-gallery img {
  border-radius: 4px;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #cfc271;
}
